POSTGRES_DB=tod
POSTGRES_USER=tod
POSTGRES_PASSWORD=change-me
POSTGRES_PORT=5432
SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/tod
SPRING_DATASOURCE_USERNAME=tod
SPRING_DATASOURCE_PASSWORD=change-me
FRONTEND_PORT=4000
NGINX_PORT=8080

TEST_ID = 01
