ORACLE_PASSWORD=change-me
ORACLE_PORT=1521
SPRING_DATASOURCE_URL=jdbc:oracle:thin:@db:1521/FREEPDB1
SPRING_DATASOURCE_USERNAME=system
SPRING_DATASOURCE_PASSWORD=change-me
FRONTEND_PORT=4000
NGINX_PORT=8080
